header{
    height: 60px;
    width: 100%;
    background: black;
    display: flex;
    align-items: center;
}
#logo{
   margin: auto;
   height: 100%; 
}
body{
    background-color: rgb(97, 232, 241);
}
.container{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    height: 50vh;
}
.title{
    height: 50px;
    font-size: 45px;
    background-color: rgb(17, 17, 110);  
    text-align: center;
    color: white;
    font-weight: 700;
}
.conteudo{
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.borda{
    border-width: 4px;
    border-style: dotted;
}
figure{
    margin: 10px;
}
figcaption{
    text-align: center;
}